*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
.DS_Store
._.DS_Store
[Bb]in
[Db]ebug*/
obj/
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.suo
src/FlightCentre.Web.UI.Public/App_Data/
src/FlightCentre.Web.UI.SupportPortal/App_Data/
src/FlightCentre.Web.UI.CustomerPortal/App_Data/
src/FlightCentre.MessageHost.BusinessActionLog/App_Data/
src/FlightCentre.MessageHost.ExactTarget/App_Data/
src/FlightCentre.MessageHost.Notifications/App_Data/
src/FlightCentre.MessageHost.Provisioning/App_Data/
src/FlightCentre.MessageHost.ProvisioningSaga/App_Data/
src/FlightCentre.Core/FlightCentre.Core.csproj.orig
src/FlightCentre.Web.UI.CustomerPortal/FlightCentre.Web.UI.CustomerPortal.csproj.orig
src/FlightCentre.Web.UI.IdentityServer/FlightCentre.Web.UI.IdentityServer.csproj.orig
src/FlightCentre.Web.UI.IdentityServer/Web.config.orig
src/FlightCentre.Web.UI.Public/Config/ClientDependency.config.orig
src/FlightCentre.Web.UI.Public/uSync.Archive/
artifacts/
src/packages/
output
preview
*.dbmdl
src/FlightCentre.Data.Database.CustomerPortal/roundhouse-output/
src/FlightCentre.Data.Database.IdentityServer/roundhouse-output/migrations/FlightCentre/(local)/20150922_160044_2148/itemsRan/runAfterOtherAnyTimeScripts/LOCALDEV.Test.ClientsUsers.ENV.sql
src/FlightCentre.Web.UI.Public/uSync/
src/FlightCentre.Web.UI.Public/Properties/PublishProfiles/test.pubxml
src/FlightCentre.Web.UI.Public/App_Data/umbraco.config
*roundhouse-output*
nsb_log*.txt
src/FlightCentre.Web.UI.CustomerPortal/assets/js/mockjax/mockjax-config.js
web.config
dump.rdb
/packages
*.webtestresult
src/FlightCentre.Web.UI.Public/App_Data/cache/
web.temp.config
app.temp.config

# Exceptions - Mobile app settings
!src/FlightCentre.Web.UI.CustomerPortal/App_Data/MobileAppSettings*
!scripts/bin

# Visual Studio Code files
.vs/

#Logs
logs/

#Rider IDE Settings
.idea

#Orig files
*.orig

chromedriver.log